/paseos-01-logic/target/
/paseos-01-web/target/
/paseos-01-web/src/main/webapp/bower_components/
/paseos-01-web/src/main/webapp/bower.json
/.bowerrc
/paseos-01-logic/nbproject/
/paseos-01-logic/derby.log

/target/