  
<h2 class="text-center">Paseos disponibles:</h2>
<div class="container" >
    <div class="row"  >
      <nav class="col-sm-2" id="myScrollspy" ng-repeat="paseo in catalogo">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#{{paseo.id}}">{{paseo.destino}}</a></li>
        </ul>
      </nav>
      <div class="col-sm-10" ng-repeat="paseo in catalogo">
          <a name="{{paseo.id}}"></a>
        <a ui-sref="paseoDetail({idPaseo : paseo.id})">
        <div id="{{paseo.id}}"> 
            <h1 class="text-center">{{paseo.destino}}</h1>
          <p>Descripción: {{paseo.descripcion}}</p>
          <div class="row">
        <div ui-view="detailView"></div>
        </div>
        </div>
        </a>
      </div>
      
    </div>
    <div ui-view></div>
  </div>
 
