
<h1 class="text-center"><span class="glyphicon glyphicon-tree-deciduous"></span>Agregar una visita:</h1>  
        
 <form class="form-horizontal">
    <div class="form-group"></div>
    <label class="control-label col-sm-3" >Oferta:</label>
         <div class="col-sm-7"> 
            <select class="form-control" ng-model="ofertaElegida">
                <option ng-repeat="oferta in catalogo" value="{{oferta.id}}">{{oferta.fecha|date:'yyyy-MM-dd'}} - {{oferta.inscritos}}</option>            
            </select>
      </div>
    <br>
    <br>
  <div class="form-group" style="text-align:center;">
  <button class="btn btn-default" ng-click="ok()">Submit</button>
  </div>
</form>